{% extends "labbyims/base.html" %}
{% block content %}

<div class="container-fluid">
    <br><br>
    <div class="row">
        <div class="first-column col-sm-9 col-lg-8">
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <form  class="form-inline my-2 my-lg-1">
              <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  name='search'
                  value="{{search_term}}">
              <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
            <div class="second-column col-sm-3 col-lg-4" style="background-color:#bbb;">
                <div class="container-fluid"
                    <br><br><br><br>
                    <h2>Reminders</h2>
                    <a href="#">My Reservations</a><br>
                    <ul>
                        <li>reservation 1 </li>
                        <li>reservation 2 </li>
                        <li>reservation 3 </li>
                    </ul>
                    <a href="#">Expiration/re-test</a>
                    <ul>
                        <li>expiration 1 </li>
                        <li>expiration 2 </li>
                        <li>expiration 3 </li>
                    </ul>
                </div>
        </div>
    </div>

</div>
{% endblock %}
