{% extends "labbyims/base.html" %}
{% block content %}
<div class="container">
    <br><br><br><br>

    <div class="container-fluid" align="justify">

        <h1>About Labbi</h1>
        <br>
        <h4><em>
                A modern solution for lab inventory management
            </em></h4>
        <br>
        <h4>Features</h4>
        <ul>
            <li>Keep track of:
                <ul>
                    <li>Unit quantity</li>
                    <li>Unit location</li>
                    <li>Expiration dates</li>
                    <li>Re-testing dates</li>
                </ul>
            </li>
            <li>Reserve reagents in advance
                <ul>
                    <li>Ensures availability</li>
                </ul>
            </li>
            <li>Check for storage compatibility
                <ul>
                    <li>Temperature range</li>
                    <li>Risk classification</li>
                </ul>
            </li>
            <li>Reminders for:
                <ul>
                    <li>Expiration dates</li>
                    <li>Re-testing dates</li>
                    <li>Reservations</li>
                </ul>
            </li>
        </ul>

        <br>
        <h3>Background</h3>
        Laboratories that operate in the fields of biology and chemistry need to buy a large amount of chemicals and reagents for their work, whether they are focused on research and development or only on a small number of services for companies and
        institutions.<br>
        For any such lab, keeping track of which chemicals they have in stock, their amount, where they are located and how they are assigned to different projects is very important to ensure smooth operation and to keep cost down.<br><br>
        <h5>Labbi allows labs to have a smart and efficient inventory management that helps reduce costs and allows each user to focus on what's important</h5><br>
        It ensures the reduction of cost caused by missed expiration days and less time wasted waiting for ordered chemicals to arrive. As well as a better way to track and control the use of chemicals between different users within a laboratory.

        <br><br><br>
        <h5>Development Team</h5>
        <p>Labbi was developed by Bioinformatics students from Uppsala University.</p>
        <strong>Team members:</strong>
        <ul>
            <li>Arnar K.S. Sandholt</li>
            <li>Carolina Pita Barros</li>
            <li>Holly Halstead</li>
            <li>Katharina Waury</li>
            <li>Silvia Bahena</li>
        </ul>
        <br>
        <h5>Contact Us</h5>
        Feel free to contact us at <a href="mailto:labbyims@gmail.com">Labbi</a>.

        <br><br><br><br><br><br>
    </div>

</div>



{% endblock %}
{% block login %}
<div class="container">
    <br><br><br><br>

    <div class="container-fluid" align="justify">

        <h1>About Labbi</h1>
        <br>
        <h4><em>
                A modern solution for lab inventory management
            </em></h4>
        <br>
        <h4>Features</h4>
        <ul>
            <li>Keep track of:
                <ul>
                    <li>Unit quantity</li>
                    <li>Unit location</li>
                    <li>Expiration dates</li>
                    <li>Re-testing dates</li>
                </ul>
            </li>
            <li>Reserve reagents in advance
                <ul>
                    <li>Ensures availability</li>
                </ul>
            </li>
            <li>Check for storage compatibility
                <ul>
                    <li>Temperature range</li>
                    <li>Risk classification</li>
                </ul>
            </li>
            <li>Reminders for:
                <ul>
                    <li>Expiration dates</li>
                    <li>Re-testing dates</li>
                    <li>Reservations</li>
                </ul>
            </li>
        </ul>

        <br>
        <h3>Background</h3>
        Laboratories that operate in the fields of biology and chemistry need to buy a large amount of chemicals and reagents for their work, whether they are focused on research and development or only on a small number of services for companies and
        institutions.<br>
        For any such lab, keeping track of which chemicals they have in stock, their amount, where they are located and how they are assigned to different projects is very important to ensure smooth operation and to keep cost down.<br><br>
        <h5>Labbi allows labs to have a smart and efficient inventory management that helps reduce costs and allows each user to focus on what's important</h5><br>
        It ensures the reduction of cost caused by missed expiration days and less time wasted waiting for ordered chemicals to arrive. As well as a better way to track and control the use of chemicals between different users within a laboratory.

        <br><br><br>
        <h5>Development Team</h5>
        <p>Labbi was developed by Bioinformatics students from Uppsala University.</p>
        <strong>Team members:</strong>
        <ul>
            <li>Arnar K.S. Sandholt</li>
            <li>Carolina Pita Barros</li>
            <li>Holly Halstead</li>
            <li>Katharina Waury</li>
            <li>Silvia Bahena</li>
        </ul>
        <br>
        <h5>Contact Us</h5>
        Feel free to contact us at <a href="mailto:labbyims@gmail.com">Labbi</a>.

        <br><br><br><br><br><br>
    </div>

</div>
{% endblock %}
