{% extends "labbyims/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br><br><br><br><br>

<TITLE>Unit CAS</TITLE>
<H1>Unit CAS</H1>
<br><br>
{% if messages %}
<ul class="messages alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<FORM METHOD=GET ACTION="/add_item">
    <P>Please enter the CAS of the product unit you wish to add: <br>
    <input type="search" name="Search"> <button class="btn btn-light" >Search</button><br>
    <input type="reset" class="btn btn-light" value="Reset" name="Reset">
    <input type="button"  class="btn btn-light" value="Go back" onClick="javascript:history.go(-1)" />
    <br><br>
    {{ text }}
</FORM>

{% endblock content %}
