{% extends "labbyims/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br><br><br>

<TITLE>Add Product</TITLE>
<H1>Add Product</H1>
<br><br>
{% if messages %}
<ul class="messages alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST", action="">
    {% csrf_token %}
    {{ form|crispy}}
    <input type="submit" class="btn btn-light" value="Submit">  <input class="btn btn-light" type="reset" value="Reset">
    <input type="button" class="btn btn-light" value="Go back" onClick="javascript:history.go(-1)" />
</form>
<br><br><br>

{% endblock %}
