{% extends "labbyims/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<br><br><br><br><br>
<TITLE>Locations</TITLE>
<H1>Locations</H1>
<br>
<a href="{% url 'add_room' %}"class="btn btn-light">Add room</a>
<a href="{% url 'add_location' %}"class="btn btn-light">Add location</a>
<a href="{% url 'update_location' %}"class="btn btn-light">Update Location</a>
<input type="button" class="btn btn-light" value="Go back" onClick="javascript:history.go(-1)" />
<main>
    <br>
    <body>

        {% render_table table_1 %}
    </body>
    <br><br>
</main>
{% endblock %}
