{% extends 'labbyims/base.html' %}

{% block content %}

<br><br><br><br><br>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
      <br><br><br>
  </form>


      <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Description</th>
            <th>Location</th>
            <th>Current Amount</th>
            <th>Reservation</th>
            <th>Expiration date</th>
            <th>Retesting date</th>
            <th>Open date</th>
            <th>Delivery date</th>
            <th>Purity</th>
            <th>Company</th>
            <th>Catalog number</th>
            <th>Measurement unit</th>
            <th>Is inactive?</th>


      </tr>
        </thead>
          <tbody>
  {% for Product_Unit in filter.qs %}

            <tr>
          <td>{{ Product_Unit.id }}</td>
          <td>{{ Product_Unit.product }}</td>
          <td>{{ Product_Unit.description }}</td>
          <td>{{ Product_Unit.location }}</td>
          <td>{{ Product_Unit.curr_amount }}</td>
          <td>{{ Product_Unit.reservation }}</td>
          <td>{{ Product_Unit.exp_date }}</td>
          <td>{{ Product_Unit.ret_date }}</td>
          <td>{{ Product_Unit.open_date }}</td>
          <td>{{ Product_Unit.del_date }}</td>
          <td>{{ Product_Unit.purity }}</td>
          <td>{{ Product_Unit.company }}</td>
          <td>{{ Product_Unit.cat_num }}</td>
          <td>{{ Product_Unit.m_unit }}</td>
          <td>{{ Product_Unit.is_inactive }}</td>

        </tr>
  {% endfor %}

              </tbody>
  </table>

{% endblock %}
