{% extends "labbyims/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <br><br><br><br><br>
    <div class="container-fluid" align="justify">

        <h1>Labbi tutorial</h1>
        <br><br>
        <p>Welcome to the Labbi tutorial.  Here we will explain how Labbi works and how you can best use it to improve your laboratory management!</p>
        <br><br><br><br>

        <h2>The front page</h2>
        <img src="{% static 'labbyims/front_page.png' %}" alt="Front page" height: auto; style="width:1080px;">
        <br><br>
        <p>Above is the front page.  The numbered parts are as follows:</p>
        <br>
        <ol>
            <li>The search bar.  Using the drop-down menu, you can choose between searching for a particular product unit, a location or product.</li>
            <li>The reminders.  Here you will see reminders about reservations you have made, product units that are about to expire or need to be retested and product units that are running out.  Every blue column title can be clicked to sort by that attribute.</li>
            <li>The top bar.  It has several options and is accessible from every page of the site.  First is a simple search bar, this one only allows searches for product units.  Second are three buttons: Add product, Add unit and Update unit.  These link to their respective pages, see below.  Third is the user drop down menu.  Here you can find links to various other sites, see below.</li>
        </ol>
        <br><br>
        <img src="{% static 'labbyims/drop_down.jpg' %}" alt="Drop down menu">
        <br><br>
        <p>Above is the content of the drop-down menu.  The links lead to different parts of the site as well as allowing the user to log out.</p>
        <br><br><br><br>

        <h2>The add product page</h2>
        <img src="{% static 'labbyims/add_product.png' %}" alt="Add product" height: auto; style="width:1080px;">
        <br><br>
        <p>
            On this page, you can add new products to the database.  A product must have a CAS number and a (descriptive) name.  You must also define the temperature range in which it should be kept and any constraints it might have, such as it being flammable, to ensure it is only stored in a compatible location.<br>
            You can also head straight to the add product unit page by clicking the "Add unit" link.
        </p>
        <br><br><br><br>

        <h2>The unit CAS page</h2>
        <img src="{% static 'labbyims/add_item_cas.png' %}" alt="Add item cas" height: auto; style="width:1080px;">
        <br><br>
        <p>
            When the add unit button is clicked, it redirects you to this page.  Here you must enter the CAS number of a product in the database.  It will then take you to the add product unit where you can add a unit of that product to the database.
        </p>
        <br><br><br><br>

        <h2>The add product unit page</h2>
        <img src="{% static 'labbyims/add_item_1.png' %}" alt="Add item 1" height: auto; style="width:1080px;">
        <br> <br>
        <img src="{% static 'labbyims/add_item_2.png' %}" alt="Add item 2" height: auto; style="width:1080px;">
        <br><br>
        <p>
            Once the CAS number has been chosen, you get to the add product unit page.  On this page you can add a new container of a particular chemical.  You can change the product this unit is a part of, in case you chose the wrong CAS number.  In order to create a new unit, you must input a description (we recommend something descriptive), a delivery date, a company that produced it, an initial amount as well as the measurement unit and finally a location.<br>
            All other attributes on this page are optional or have defaults but we recommend that you associate any product unit with at least one department.  This allows users associated with this department to watch it's status, getting reminders if it is close to finished.  If you intend to add several units with exactly the same attribute values, this is also possible.  Simply input the number of units to add at the bottom field.
        </p>
        <br><br><br><br>

        <h2>The add product unit page</h2>
        <img src="{% static 'labbyims/update_unit.png' %}" alt="Update unit" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            If a product unit has been moved, it has been opened or some amount used, you can use the update product unit page to update the information for that unit.  It is also possible to delete a unit from the database completely, though this is not advisable unless absolutely necessary.  A unit can also be forcibly archived here, this normally only happens if it's current quantity drops to zero.  The unit then disappears from the normal inventory
            but can still be found in the archive page, see drop-down menu above and page information below.
        </p>
        <br><br><br><br>

        <h2>The reservations page</h2>
        <img src="{% static 'labbyims/reservations.png' %}" alt="Reservations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On the reservations page, you can see any reservations you have made and what day the reservation is made for.  You can also access the pages to add new resrvations and update existing ones.
        </p>
        <br><br><br><br>

        <h2>The add reservations page</h2>
        <img src="{% static 'labbyims/add_reservations.png' %}" alt="Add reservations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can add new reservations on chemicals you will need to use.  You will need to choose a specific product unit to reserve, the amount you need and when you intend to use it.  You will also need to name the reservation.
        </p>
        <br><br><br><br>

        <h2>The update reservations page</h2>
        <img src="{% static 'labbyims/update_reservations.png' %}" alt="Update reservations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can update an existing reservation with the amount used.  It defaults to the reserved amount so if you used only that there is no need input a value for the amount.
        </p>
        <br><br><br><br>

        <h2>The my inventory page</h2>
        <img src="{% static 'labbyims/my_inventory.png' %}" alt="My inventory" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page shows the inventory you are watching and does not include any product units that are not associated with a department you are associated with.  It also has a link to the update unit page.
        </p>
        <br><br><br><br>

        <h2>The running low page</h2>
        <img src="{% static 'labbyims/running_low.png' %}" alt="Running low" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can see an overview of all product units for which the current amount is running low.  A product unit show up here once the current amount drops below 50% of the initial amount.
        </p>
        <br><br><br><br>

        <h2>The running low page</h2>
        <img src="{% static 'labbyims/general_inventory.png' %}" alt="General inventory" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page shows an overview of all active product units in the database.
        </p>
        <br><br><br><br>

        <h2>The running low page</h2>
        <img src="{% static 'labbyims/locations.png' %}" alt="Locations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can see an overview of the locations currently available in the database.  The page also includes links to pages for adding rooms and locations as well as for updating information on existing locations.
        </p>
        <br><br><br><br>

        <h2>The add room page</h2>
        <img src="{% static 'labbyims/add_room.png' %}" alt="Add room" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can add new rooms to the database.  Each location must be associated with a room, as a given room might have several different types of locations, such as different refrigerators.  A room must have a name and can optionally have a building name in case several buildings are being used.
        </p>
        <br><br><br><br>

        <h2>The add location page</h2>
        <img src="{% static 'labbyims/add_location.png' %}" alt="Add location" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can add new locations to the database.  Each location must be associated with a room and have a name.  Optionally a description can be added.  You then need to specify constraints which a product unit stored there can fulfill.
        </p>
        <br><br><br><br>

        <h2>The update location page</h2>
        <img src="{% static 'labbyims/update_location.png' %}" alt="Update location" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page allows you to update information on a location.  You can either change the room or the description.
        </p>
        <br><br><br><br>

        <h2>The archive page</h2>
        <img src="{% static 'labbyims/archive.jpg' %}" alt="Archive" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can see an overview of all product units that have been archived.  This automatically happens when a unit's current amount drops to zero but can also be done manually.
        </p>
        <br><br><br><br>

        <h2>The add department page</h2>
        <img src="{% static 'labbyims/add_department.png' %}" alt="Add department" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page allows you to add new departments to the database.  Departments simply need to have a unique name.  Departments are associated with users and product units.  Each user associated with a given departments is also watching any product unit associated with that department, giving the reminders if a unit is running low and showing it in their inventory.
        </p>
        <br><br><br><br>

        <h2>The my profile page</h2>
        <img src="{% static 'labbyims/my_profile.png' %}" alt="My profile" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can find information about the current user.  There is also a link to the department association page which allows you to associate with a department.
        </p>
        <br><br><br><br>

        <h2>The add association page</h2>
        <img src="{% static 'labbyims/add_association.png' %}" alt="Association" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can associate the current user with new departments.  This allows you to watch product units which the department is associated with.
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

{% endblock %}
{% block login %}
<div class="container">
    <br><br><br><br><br>
    <div class="container-fluid" align="justify">

        <h1>Labbi tutorial</h1>
        <br><br>
        <p>Welcome to the Labbi tutorial.  Here we will explain how Labbi works and how you can best use it to improve your laboratory management!</p>
        <br><br><br><br>

        <h2>The front page</h2>
        <img src="{% static 'labbyims/front_page.png' %}" alt="Front page" height: auto; style="width:1080px;">
        <br><br>
        <p>Above is the front page.  The numbered parts are as follows:</p>
        <br>
        <ol>
            <li>The search bar.  Using the drop-down menu, you can choose between searching for a particular product unit, a location or product.</li>
            <li>The reminders.  Here you will see reminders about reservations you have made, product units that are about to expire or need to be retested and product units that are running out.  Every blue column title can be clicked to sort by that attribute.</li>
            <li>The top bar.  It has several options and is accessible from every page of the site.  First is a simple search bar, this one only allows searches for product units.  Second are three buttons: Add product, Add unit and Update unit.  These link to their respective pages, see below.  Third is the user drop down menu.  Here you can find links to various other sites, see below.</li>
        </ol>
        <br><br>
        <img src="{% static 'labbyims/drop_down.jpg' %}" alt="Drop down menu">
        <br><br>
        <p>Above is the content of the drop-down menu.  The links lead to different parts of the site as well as allowing the user to log out.</p>
        <br><br><br><br>

        <h2>The add product page</h2>
        <img src="{% static 'labbyims/add_product.png' %}" alt="Add product" height: auto; style="width:1080px;">
        <br><br>
        <p>
            On this page, you can add new products to the database.  A product must have a CAS number and a (descriptive) name.  You must also define the temperature range in which it should be kept and any constraints it might have, such as it being flammable, to ensure it is only stored in a compatible location.<br>
            You can also head straight to the add product unit page by clicking the "Add unit" link.
        </p>
        <br><br><br><br>

        <h2>The unit CAS page</h2>
        <img src="{% static 'labbyims/add_item_cas.png' %}" alt="Add item cas" height: auto; style="width:1080px;">
        <br><br>
        <p>
            When the add unit button is clicked, it redirects you to this page.  Here you must enter the CAS number of a product in the database.  It will then take you to the add product unit where you can add a unit of that product to the database.
        </p>
        <br><br><br><br>

        <h2>The add product unit page</h2>
        <img src="{% static 'labbyims/add_item_1.png' %}" alt="Add item 1" height: auto; style="width:1080px;">
        <br> <br>
        <img src="{% static 'labbyims/add_item_2.png' %}" alt="Add item 2" height: auto; style="width:1080px;">
        <br><br>
        <p>
            Once the CAS number has been chosen, you get to the add product unit page.  On this page you can add a new container of a particular chemical.  You can change the product this unit is a part of, in case you chose the wrong CAS number.  In order to create a new unit, you must input a description (we recommend something descriptive), a delivery date, a company that produced it, an initial amount as well as the measurement unit and finally a location.<br>
            All other attributes on this page are optional or have defaults but we recommend that you associate any product unit with at least one department.  This allows users associated with this department to watch it's status, getting reminders if it is close to finished.  If you intend to add several units with exactly the same attribute values, this is also possible.  Simply input the number of units to add at the bottom field.
        </p>
        <br><br><br><br>

        <h2>The add product unit page</h2>
        <img src="{% static 'labbyims/update_unit.png' %}" alt="Update unit" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            If a product unit has been moved, it has been opened or some amount used, you can use the update product unit page to update the information for that unit.  It is also possible to delete a unit from the database completely, though this is not advisable unless absolutely necessary.  A unit can also be forcibly archived here, this normally only happens if it's current quantity drops to zero.  The unit then disappears from the normal inventory
            but can still be found in the archive page, see drop-down menu above and page information below.
        </p>
        <br><br><br><br>

        <h2>The reservations page</h2>
        <img src="{% static 'labbyims/reservations.png' %}" alt="Reservations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On the reservations page, you can see any reservations you have made and what day the reservation is made for.  You can also access the pages to add new resrvations and update existing ones.
        </p>
        <br><br><br><br>

        <h2>The add reservations page</h2>
        <img src="{% static 'labbyims/add_reservations.png' %}" alt="Add reservations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can add new reservations on chemicals you will need to use.  You will need to choose a specific product unit to reserve, the amount you need and when you intend to use it.  You will also need to name the reservation.
        </p>
        <br><br><br><br>

        <h2>The update reservations page</h2>
        <img src="{% static 'labbyims/update_reservations.png' %}" alt="Update reservations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can update an existing reservation with the amount used.  It defaults to the reserved amount so if you used only that there is no need input a value for the amount.
        </p>
        <br><br><br><br>

        <h2>The my inventory page</h2>
        <img src="{% static 'labbyims/my_inventory.png' %}" alt="My inventory" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page shows the inventory you are watching and does not include any product units that are not associated with a department you are associated with.  It also has a link to the update unit page.
        </p>
        <br><br><br><br>

        <h2>The running low page</h2>
        <img src="{% static 'labbyims/running_low.png' %}" alt="Running low" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can see an overview of all product units for which the current amount is running low.  A product unit show up here once the current amount drops below 50% of the initial amount.
        </p>
        <br><br><br><br>

        <h2>The running low page</h2>
        <img src="{% static 'labbyims/general_inventory.png' %}" alt="General inventory" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page shows an overview of all active product units in the database.
        </p>
        <br><br><br><br>

        <h2>The running low page</h2>
        <img src="{% static 'labbyims/locations.png' %}" alt="Locations" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can see an overview of the locations currently available in the database.  The page also includes links to pages for adding rooms and locations as well as for updating information on existing locations.
        </p>
        <br><br><br><br>

        <h2>The add room page</h2>
        <img src="{% static 'labbyims/add_room.png' %}" alt="Add room" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can add new rooms to the database.  Each location must be associated with a room, as a given room might have several different types of locations, such as different refrigerators.  A room must have a name and can optionally have a building name in case several buildings are being used.
        </p>
        <br><br><br><br>

        <h2>The add location page</h2>
        <img src="{% static 'labbyims/add_location.png' %}" alt="Add location" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can add new locations to the database.  Each location must be associated with a room and have a name.  Optionally a description can be added.  You then need to specify constraints which a product unit stored there can fulfill.
        </p>
        <br><br><br><br>

        <h2>The update location page</h2>
        <img src="{% static 'labbyims/update_location.png' %}" alt="Update location" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page allows you to update information on a location.  You can either change the room or the description.
        </p>
        <br><br><br><br>

        <h2>The archive page</h2>
        <img src="{% static 'labbyims/archive.jpg' %}" alt="Archive" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can see an overview of all product units that have been archived.  This automatically happens when a unit's current amount drops to zero but can also be done manually.
        </p>
        <br><br><br><br>

        <h2>The add department page</h2>
        <img src="{% static 'labbyims/add_department.png' %}" alt="Add department" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            This page allows you to add new departments to the database.  Departments simply need to have a unique name.  Departments are associated with users and product units.  Each user associated with a given departments is also watching any product unit associated with that department, giving the reminders if a unit is running low and showing it in their inventory.
        </p>
        <br><br><br><br>

        <h2>The my profile page</h2>
        <img src="{% static 'labbyims/my_profile.png' %}" alt="My profile" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            On this page, you can find information about the current user.  There is also a link to the department association page which allows you to associate with a department.
        </p>
        <br><br><br><br>

        <h2>The add association page</h2>
        <img src="{% static 'labbyims/add_association.png' %}" alt="Association" height: auto; style="width:1080px;">
        <br> <br>
        <p>
            Here, you can associate the current user with new departments.  This allows you to watch product units which the department is associated with.
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

{% endblock %}
