{% extends "labbyims/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br><br><br><br><br>

<TITLE>Update Item</TITLE>
<H1>Update Item</H1>
<br><br>
<form action="" method="POST">
	{% csrf_token %}
    {{ form|crispy}}
    <br>

    <input type="checkbox"name="delete_entry" id="delete_entry" onchange="cTrig('delete_entry')"/>
    <label id="label_for_DELETE" for="delete_entry">DELETE entry from database?</label>
    <p id="label_for_DELETE">This change will be permanent
    <br><br>
    <input type="submit" value="Submit" name="Submit">  <input type="reset" value="Reset" name="Reset">
    <input type="button" value="Go back" onClick="javascript:history.go(-1)" />
    <br><br>

</form>


{% endblock content %}
