{% extends "labbyims/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<br><br><br><br><br>
<TITLE>Reservations</TITLE>
<br><br>
<h1>My Profile</h1>
<br><br>
<ul>
  {% for User in filter.qs %}
  <h5>Username: {{User.username}}</h5>
  <br>
  <h5>First Name: {{User.first_name}}</h5>
  <br>
  <h5>First Name: {{User.last_name}}</h5>
  <br>
  <h5>Email: {{User.email}}</h5>
  <br>
  <h5>Last Name: {{User.last_login}}</h5>

</ul>
{% endfor%}

{% for Department in filter.qs %}
    <h5>Departments: {{Department.name}}</h5>
    {% endfor%}
{% endblock %}
