{% extends "labbyims/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<br><br><br>
<TITLE>My Profile</TITLE>
<br><br>
<h2>My Profile</h2>
<br><br>
<ul>
  {% for User in filter.qs %}
  <p><strong>Username:</strong> {{User.username}}
  <br>
  <p><strong>First Name:</strong> {{User.first_name}}
  <br>
  <p><strong>Last Name:</strong> {{User.last_name}}
  <br>
  <p><strong>Email:</strong> {{User.email}}
  <br>
  <p><strong>Last Login:</strong> {{User.last_login}}
  <br>
  <br>

    <a href="{% url 'add_association' %}"> Add department association</a>
  <br>
  <p></p><a href="{% url 'password_change' %}">Change password</a>

  <br><br>
  <input type="button" value="Go back" onClick="javascript:history.go(-1)" />
  <br>
  {% endfor %}

  <br>
  <table>
  {%  render_table table_dept %}
  </table>

  {% endblock %}
